.headline {
	color: var(--contrast-color);
	font-size: 60px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		width: 90px;
		height: 2px;
		background-color: var(--contrast-color);
		top: 100%;
		left: 0;
	}
}
