@import "./utils/colors";

@import "./mixins/media";
@import "./mixins/mixins";

@import "./utils/global";

@import "./components/button";
@import "./components/headline";
@import "./components/preloader";
@import "./components/grey-container";

body {
	max-height: 3200px;

	background-size: cover;
	background-color: var(--dark-grey);

	overflow-x: hidden;
}

.paral-wrap {
	width: 100vw;

	background: url("../img/mainbg.png") no-repeat;
	background-size: cover;
	background-position: center center;
}
.parallax {
	position: relative;

	max-width: 2000px;

	margin: 0 auto;

	text-align: center;

	overflow: hidden;

	& .text-layer {
		display: block;

		position: absolute;
		top: 30%;
		left: 50%;

		max-width: 950px;

		padding: 20px 40px;

		border: 5px solid var(--contrast-color);

		transform: translateX(-50%);

		@include media("sm") {
			top: 20%;

			padding: 80px 150px;

			border-width: 7px;
		}
		& h1 {
			margin: 0;

			color: white;

			font-size: 6rem;

			@include media("sm") {
				font-size: 10rem;
			}

			@include media("md") {
				font-size: 15.5rem;
			}
		}
		& p:nth-of-type(1) {
			display: inline-block;

			position: relative;

			color: white;

			font-size: 2rem;

			@include media("sm") {
				font-size: 2.5rem;
			}

			&::after {
				content: "";

				position: absolute;
				top: 100%;
				left: 22px;

				height: 3px;
				width: 90px;

				background-color: white;
			}
		}
		& p:nth-of-type(2) {
			color: var(--contrast-color);

			font-size: 1.5rem;

			text-transform: uppercase;

			@include media("sm") {
				font-size: 1.8rem;
			}
		}
	}
	& .layer-0 {
		height: 100vh;
		width: 100%;

		background: url("../img/sky.png") no-repeat;
		background-size: cover;
		background-position: center center;
	}
	& .layer-1 {
		position: absolute;
		top: 0%;
		left: 0;

		height: 100vh;
		width: 100%;

		background: url("../img/farforest2.png") no-repeat;
		background-position: center center;
	}
	& .layer-2 {
		position: absolute;
		top: -1%;

		height: 100vh;
		width: 100%;

		background: url("../img/forest2.png") no-repeat;
		background-position: center center;
	}
	& .layer-3 {
		position: absolute;
		top: 66%;

		height: 375px;
		width: 100%;

		background: url("../img/dark-trees.png") no-repeat;
		background-position: center center;

		z-index: 5;
	}

	.closing {
		position: absolute;
		top: 100%;
		left: 0;

		width: 100vw;
		height: 1500px;

		background-color: var(--dark-grey);
	}
}

.main-container {
	width: 100vw;
	max-width: 2000px;

	margin: 0 auto;

	background: url("../img/bg_2.png") repeat-y;
	background-size: cover;

	z-index: 100;
}
////////////////////////////////ABOUT ME SECTION///////////////////
section.about-me {
	margin-top: 150px;
}
////////////////////////////////ABOUT ME SECTION///////////////////

section.articles {
	margin-top: 300px;

	& .h1-container {
		display: flex;
		justify-content: center;

		width: 100%;
	}
	& .slider {
		display: flex;
		justify-content: space-between;

		padding: 0;

		list-style: none;

		& .swiper-slide {
			width: 29%;

			& .item {
				width: 90%;

				margin: 0 auto;
			}

			&:nth-of-type(2) {
				transform: translateY(0px);

				@include media("lg") {
					transform: translateY(100px);
				}
			}

			& .item-image {
				position: relative;
				width: 337px;
				height: 235px;

				margin-left: 10%;

				background: url("../img/eagle.png") no-repeat;
				background-size: cover;
				background-position: center center;

				@include box-shadow(0px 0px 16px 0px rgba(0, 0, 0, 0.75));

				&:before {
					content: "";

					position: absolute;
					top: -27px;
					left: -27px;

					height: 235px;
					width: 335px;

					background-color: #323232;

					z-index: -1;

					@include box-shadow(0px 0px 16px 0px rgba(0, 0, 0, 0.75));
				}
			}

			& .text {
				margin-top: 2rem;

				& p {
					font-size: 2rem;

					color: var(--text-color);

					line-height: 2.5rem;
				}
				& h1 {
					position: relative;

					padding-bottom: 4.5rem;

					color: var(--contrast-color);
					font-size: 2.3rem;

					&::after {
						content: "";

						position: absolute;
						top: 60%;
						left: 0;

						width: 365px;
						height: 1px;

						background-color: var(--contrast-color);
					}
				}

				& a {
					display: inline-block;

					position: relative;

					margin-top: 20px;

					color: var(--contrast-color);
					font-size: 1.8rem;
					font-weight: bold;

					text-decoration: none;
					text-transform: uppercase;

					&::after {
						content: "";

						position: absolute;
						top: 4px;
						left: 110%;

						width: 7px;
						height: 7px;

						border-top: 2px solid var(--contrast-color);
						border-right: 2px solid var(--contrast-color);

						@include transform(rotate(45deg));
					}
				}
			}
		}
	}
}
////////////////////////////////ABOUT ME SECTION///////////////////
/////////////////////////////GALLERY SECTION//////////////////////
section.gallery-section {
	margin-top: 200px;

	& .gal-wrap {
		width: 100%;
		max-height: 2300px;

		transition: all 1s ease;

		overflow: hidden;

		&.closed {
			max-height: 980px;

			@include media("sm") {
				max-height: 1000px;
			}

			@include media("lg") {
				max-height: 1105px;
			}
		}
	}

	& .gallery {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(14, 14%);
		grid-gap: 20px;

		height: 2210px;

		transition: all 2s ease-in-out;

		@include media("sm") {
			grid-template-columns: 50% 50%;
			grid-template-rows: repeat(7, calc(100% / 7));
		}

		@include media("lg") {
			grid-template-columns: 3.3% 27% 27.5% 27.5% 3.7%;
			grid-template-rows: 1.8% 2% 9% 1.8% 12.4% 9.25% 0.45% 3.35% 1.8% 2% 9% 1.8% 12.4% 9.25% 0.45% 3.35%;
		}

		& .img {
			grid-column: 1;
			grid-row: auto;

			transition: all 1s ease;
			@include box-shadow(0px 0px 16px 0px rgba(0, 0, 0, 0.75));

			@include media("sm") {
				grid-column: auto;
				grid-row: auto;
			}

			&:hover {
				transform: scale(0.98);
			}

			&.hide {
				transform: scale(0);
				transition: all 1s ease;
			}

			& img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}

			@include media("lg") {
				&.img-1 {
					grid-column: 2/3;
					grid-row: 2/5;
				}
				&.img-2 {
					grid-column: 3;
					grid-row: 1/4;
				}
				&.img-3 {
					grid-column: 4;
					grid-row: 3;
				}
				&.img-4 {
					grid-column: 1/3;
					grid-row: 5/7;
				}
				&.img-5 {
					grid-column: 3/6;
					grid-row: 4/6;
				}
				&.img-6 {
					grid-column: 3;
					grid-row: 6/9;
					z-index: 2;
				}
				&.img-7 {
					grid-column: 4;
					grid-row: 6/8;
				}
				&.img-8 {
					grid-column: 2/3;
					grid-row: 7/11;
				}
				&.img-9 {
					grid-column: 3;
					grid-row: 9/13;
				}
				&.img-10 {
					grid-column: 4;
					grid-row: 8/13;
				}
				&.img-11 {
					grid-column: 1/3;
					grid-row: 11/14;
				}
				&.img-12 {
					grid-column: 3/6;
					grid-row: 13/14;
				}
				&.img-13 {
					grid-column: 2/4;
					grid-row: 14/17;
					z-index: 2;
				}
				&.img-14 {
					grid-column: 4;
					grid-row: 14/16;
				}
			}
		}
	}
	& .more-btn {
		margin-top: 5rem;
		text-align: center;

		@include media("lg") {
			margin-top: 0rem;
		}
	}
}
/////////////////////////////GALLERY SECTION//////////////////////
////////////////////////////CONTACT SECTION//////////////////////
section.contact {
	margin-top: 200px;
	padding-bottom: 200px;

	& .decor {
		background: none;

		border: none;
		border-bottom: 1px solid var(--light-grey);
	}
	& .data {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		width: 100%;

		@include media("sm") {
			flex-direction: row;
		}

		& input[type="text"],
		input[type="email"] {
			width: 90%;

			padding: 10px;

			color: var(--text-color);

			@include media("sm") {
				width: 40%;
			}
		}

		& input[type="text"] {
			margin-bottom: 50px;

			@include media("sm") {
				margin-bottom: 0;
			}
		}
	}
	& textarea {
		width: 100%;
		padding: 10px;
		color: var(--text-color);
	}
}

////////////////////////////CONTACT SECTION//////////////////////
